.hide-dice-img {
  transform: scale(0);
}

.show-dice-img {
  transform: scale(1);
}

.active-color {
  background: rgba(219, 175, 188, 0.989);
}

.unactive-color {
  background: rgba(196, 121, 141, 0.989);
}

.active-player-name {
  font-weight: 800;
  opacity: 0.7;
}

.unactive-player-name {
  font-weight: 500;
  opacity: 0.55;
}