.modal-container {
    z-index: 10000;
    background: rgba(60, 42, 72, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 600ms ease-in-out;
}


.show {
    opacity: 1;
    pointer-events: all;
}

.modal-body {
    transform: translateX(300%);
    transition: all 400ms ease-in-out;
}

.modal-container.show .modal-body,
.modal-container.show .modal-header {
    transform: translateX(0%);
}

.modal-container.show .modal-header {
    animation: title 500ms ease-in-out;
}

.modal {
    background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    ;
    color: #fff;
    width: 700px;
    max-width: 80%;
    padding: 2.5em 1em;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container .modal-header {
    color: black;
    transform: translateX(-300%);
    transition: all 400ms ease-in-out;
}



@keyframes title {
    0% {
        transform: translateX(-170%);
    }

    50% {
        transform: translateX(10%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.modal-header {
    padding: 1em 1.5em;
}

.modal-header .title {
    text-align: center;
    font-size: 3.25rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.modal .modal-body {
    display: flex;
    justify-content: center;
    padding: 1em 1.5em;
    font-size: 15px;
    opacity: 0.8;
}

.rick-roll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em 1.5em;

}

.rick-roll .rick-roll-title {
    font-size: 2.7rem;
    color: #880808;
    text-shadow: -3px -3px 3px black;
}

img.rick-roll-img {
    position: absolute;
    top: -6px;
    left: 0px;
    z-index: 1;
    transform: translateX(-600%);
    transition: all 5000ms ease-in-out;
}

.modal-container.show img.rick-roll-img {
    transform: translateX(0%);
}

div.modal-container.show div.rick-roll {
    transform: translateX(0%);
}

div.modal-container div.rick-roll {
    transform: translateX(-600%);
    transition: all 3500ms ease-in-out;
}

.mr-hide {
    opacity: 0;
}