@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.hide-dice-img {
  transform: scale(0);
}

.show-dice-img {
  transform: scale(1);
}

.active-color {
  background: rgba(219, 175, 188, 0.989);
}

.unactive-color {
  background: rgba(196, 121, 141, 0.989);
}

.active-player-name {
  opacity: 0.8;
  color: #018afe;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 5px;
  font-family: 'Titan One', cursive;
}

.unactive-player-name {
  font-weight: 500;
  opacity: 0.55;
}